<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-6 center-div">
        <div class="panel panel-default">
          <div class="panel-body">
            <h4 class="upload-font center"> Which portal would you like to access?</h4>
              <div class="center">
                <a class="btn btn-lg" href="users/doctor">Doctor</a>
                <a class="btn btn-lg" href="users/patient">Patient</a>
              </div>
            </br></br>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
