<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <h2 class="upload-font">Welcome {{name}}</h2>
            <h4 class="upload-font">Patient Info for {{patientName}}:</h4>
            <p class="upload-font">Age: {{patientAge}}</p>
            <p class="upload-font">Address: {{patientAddress}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
