<!-- Patient Page with uploader and requisite script -->
<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <h2 class="upload-font">File Uploader</h2>
            <h4 class="upload-font">Tempus</h4>
            <div class="progress">
              <div class="progress-bar" role="progressbar"></div>
            </div>
            <button class="btn btn-lg upload-btn" type="button">Upload File</button>
            </br></br>
            <input id="upload-input" type="file" name="uploads[]" multiple="multiple"></br>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

  <script src="/javascripts/uploads.js"></script>
